TAVILY_API_KEY= # obtain from https://www.tavily.com/

# can either be dev or prod
ENVIRONMENT=dev

MODEL_API_KEY= # obtain from your inference server provider

MODEL_BASE_URL= # this depends on the inference server you are using

MODEL_NAME=gemini-2.5-flash 