TAVILY_API_KEY= # obtain from https://www.tavily.com/

# can either be dev or prod
ENVIRONMENT=dev


# For Development purposes:

# MODEL_BASE_URL=https://models.github.ai/inference -> Github
# MODEL_BASE_URL=http://localhost:12434/engines/llama.cpp/v1 -> Model Runner (localhost)
# MODEL_BASE_URL=http://localhost:11434 -> Ollama
MODEL_BASE_URL=http://model-runner.docker.internal/engines/llama.cpp/v1 #  Model Runner (docker) 
MODEL_NAME=openai:ai/gemma3  # openai:ai/gemma3 -> Gemma (docker)
MODEL_API_KEY= # obtain from your inference server provider


# For Production purposes:

# EMBEDDING_MODEL_NAME=ai/embeddinggemma:latest -> Model Runner (docker)
EMBEDDING_MODEL_NAME=sentence-transformers/all-mpnet-base-v2 # Hugging Face
GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta/models/
GEMINI_API_KEY= # obtain from Google Cloud Console ->  https://console.cloud.google.com/ or Google AI Studio -> https://aistudio.google.com/
