TAVILY_API_KEY= # obtain from https://www.tavily.com/

# can either be dev or prod
ENVIRONMENT=dev

MODEL_API_KEY= # obtain from your inference server provider


# MODEL_BASE_URL=https://models.github.ai/inference -> Github
# MODEL_BASE_URL=http://model-runner.docker.internal/engines/llama.cpp/v1 -> Model Runner (docker) 
# MODEL_BASE_URL=http://localhost:12434/engines/llama.cpp/v1 -> Model Runner (localhost)

MODEL_BASE_URL= # this depends on the inference server you are using

MODEL_NAME=gemini-2.5-flash 